<html>
<head>
<title>CSV</title>
<script type="text/javascript" src="//cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript">
var values = [
 [
  <%= values[0][0] %>
  <% for( var j = 1; j < values[0].length; j ++ ){ %>
  ,<%= values[0][j] %>
  <% } %>
 ]
<% for( var i = 1; i < values.length; i ++ ){ %>
 ,[
  <%= values[i][0] %>
  <% for( var j = 1; j < values[i].length; j ++ ){ %>
  ,<%= values[i][j] %>
  <% } %>
 ]
<% } %>
];
var cols = [
"<%= cols[0] %>"
<% for( var i = 1; i < cols.length; i ++ ){ %>
,"<%= cols[i] %>"
<% } %>
];
var rows = [
"<%= rows[0] %>"
<% for( var i = 1; i < rows.length; i ++ ){ %>
,"<%= rows[i] %>"
<% } %>
];

$(function(){
  //. CSV 読み込み結果をテーブル表記
  var table = '<table id="csvtable" border="1">';

  var tr = '<tr><th>#</th>';
  for( var i = 0; i < cols.length; i ++ ){
    tr += ( '<th>' + cols[i] + '</th>' );
  }
  tr += '</tr>';
  table += tr;

  for( var i = 0; i < rows.length; i ++ ){
    var tr = '<tr><th>' + rows[i] + '</th>';
    for( var j = 0; j < cols.length; j ++ ){
      tr += ( '<td>' + values[j][i] + '</td>' );
    }
    tr += '</tr>';
    table += tr;
  }
  table += '</table>';
  $('#table').html( table );

  //. 相関関係をテーブル表記
  table = '<table id="correlationtable" border="1">';
  table += '<thead><tr bgcolor="#ffffcc"><th></th>';
  for( var i = 0; i < cols.length; i ++ ){
    var th = '<th>' + cols[i] + '</th>';
    table += th;
  }
  table += '</tr>';
  table += '<tr bgcolor="#ffffcc"><th></th>';
  for( var i = 0; i < cols.length; i ++ ){
    var td = '<th><input type="range" id="shift' + i + '" name="shift' + i + '" min="-10" max="10" value="0"/></th>';
    table += td;
  }
  table += '</tr>';
  table += '</thead><tbody id="tbody"></tbody></table>';
  $('#result').html( table );

  //. 2D チャート
  var figure = { data: [], layout: { title: "csv chart" } };
  for( var i = 0; i < values.length; i ++ ){
    var c = { x: rows, y: values[i], name: cols[i] };
    figure.data.push( c );
  }
  Plotly.newPlot( 'chart2d', figure.data, figure.layout );

  //. 相関関係調査
  correlation();

  //. スライダー変更イベント毎に相関関係を再計算
  $('input[type=range]').click( function(){
    var t = $(this);
    var idx = ( t.context.id ).substring( 5 ); //. 'shiftX' の X 部分を取り出す
    //console.log( idx ); //. X

    correlation( idx );
  });
});

function correlation( index ){ //. 初回は index == undefined
  var shifts = [];
  var ranges = $('input[type=range]');
  var rowTotal = ranges.length;
  if( rowTotal > 0 ){
    for( var i = 0; i < rowTotal; i ++ ){
      var v = $(ranges[i]).val();
      shifts.push( v );
    }
  }else{
    for( var i = 0; i < values.length; i ++ ){
      shifts.push( 0 );
    }
  }

  var postdata = { 'values': values, 'shifts': shifts };
  $.ajax({
    type: 'POST',
    dataType: 'json',
    url: './correlation',
    data: postdata,
    success: function( data ){
      var cp = [], cn = [], cpw = [], cnw = [];
      var table = '<tr bgcolor="#ffffcc"><th></th>';
      for( var i = 0; i < shifts.length; i ++ ){
        table += ( '<th>' + ( ( shifts[i] > 0 ) ? '+' : '' ) + shifts[i] + '</th>' );
      }
      table += '</tr>';

      for( var i = 0; i < data.length; i ++ ){
        var tr = '<tr>';
        tr += ( '<th bgcolor="#ffffcc">' + cols[i] + '</th>' );
        for( var j = 0; j < data[i].length; j ++ ){
          var bgcolor = '#ffffff';
          if( i == j ){
            bgcolor = '#cccccc';
            data[i][j] = '-';
          }else if( data[i][j] > 0.8 ){
            //. i と j には相関関係あり
            bgcolor = '#ffcccc';
            if( i < j ){
              cp.push( [ i, j ] );
              cpw.push( Math.round( ( data[i][j] - 0.8 ) * 100 ) );
            }
          }else if( data[i][j] < -0.8 ){
            //. i と j には逆相関関係あり
            bgcolor = '#ccccff';
            if( i < j ){
              cn.push( [ i, j ] );
              cnw.push( Math.round( ( -0.8 - data[i][j] ) * 100 ) );
            }
          }
          tr += ( '<td bgcolor="' + bgcolor + '">' + data[i][j] + '</td>' );
        }
        tr += '</tr>';
        table += tr;
      }
      $('#tbody').html( table );

      //. 相関関係のあるものだけを取り出す
      var list = [];
      for( var i = 0; i < cp.length; i ++ ){
        var p = cp[i];
        if( list.indexOf( p[0] ) == -1 ){
          list.push( p[0] );
        }
        if( list.indexOf( p[1] ) == -1 ){
          list.push( p[1] );
        }
      }
      for( var i = 0; i < cn.length; i ++ ){
        var p = cn[i];
        if( list.indexOf( p[0] ) == -1 ){
          list.push( p[0] );
        }
        if( list.indexOf( p[1] ) == -1 ){
          list.push( p[1] );
        }
      }

      if( list.length > 0 ){
        //. 関連チャート
        var t = 2 * Math.PI / list.length;
        var x = [], y = [], text = [];
        for( var i = 0; i < list.length; i ++ ){
          var xy = getXY( index, i, t );
          x.push( xy[0] );
          y.push( xy[1] );
          text.push( cols[list[i]] );
        }
        var trace = {
          x: x,
          y: y,
          mode: 'markers',
          type: 'scatter',
          name: '',
          text: text,
          marker: { size: 50, color: '#ff00ff' }
        };

        var chartdata = [ trace ];

        for( var i = 0; i < cp.length; i ++ ){
          var p = cp[i];
          var w = cpw[i];
          //. p[x] は list[] の何番目に入っているか？
          var i0 = list.indexOf( p[0] );
          var i1 = list.indexOf( p[1] );
          var xy0 = getXY( index, i0, t );
          var xy1 = getXY( index, i1, t );
          chartdata.push( {
            x: [ xy0[0], xy1[0] ],
            y: [ xy0[1], xy1[1] ],
            mode: 'lines',
            name: data[p[0]][p[1]],
            line: { color: '#ff0000', width: w }
          } );
        }
        for( var i = 0; i < cn.length; i ++ ){
          var p = cn[i];
          var w = cnw[i];
          var i0 = list.indexOf( p[0] );
          var i1 = list.indexOf( p[1] );
          var xy0 = getXY( index, i0, t );
          var xy1 = getXY( index, i1, t );
          chartdata.push( {
            x: [ xy0[0], xy1[0] ],
            y: [ xy0[1], xy1[1] ],
            mode: 'lines',
            name: data[p[0]][p[1]],
            line: { color: '#0000ff', width: w }
          } );
        }

//console.log( chartdata );

        var chartlayout = {
          xaxis: { range: [ -1.5, 1.5 ], showgrid: false, zeroline: false, showline: false, autotick: false, showticklabels: false },
          yaxis: { range: [ -1.5, 1.5 ], showgrid: false, zeroline: false, showline: false, autotick: false, showticklabels: false },
          showlegend: false,
          title: 'Relation Map'
        };

        Plotly.newPlot( 'relchart', chartdata, chartlayout );
      }else{
        $('#relchart').html( '' );
      }
    },
    error: function( XMLHttpRequest, textStatus, errorThrown ){
      console.log( textStatus + ": " + errorThrown );
    }
  });
}

function getXY( index, idx, t ){
  var xy = [];
  if( index === undefined || idx != index ){
    xy = [ Math.cos( Math.PI / 2 + idx * t ), Math.sin( Math.PI / 2 + idx * t ) ];
  }else{
    xy = [ 0.0, 0.0 ];
  }

  return xy;
}
</script>
</head>
<body>
<div id="table"></div>
<div id="chart2d" style="width:80%;height:60%"></div>
<br/>
<div id="result"></div>
<div id="relchart"></div>
</body>
</html>

